/* step two, set up up global CSS variables */
@import url('https://fonts.googleapis.com/css?family=Oswald|Rambla|Staatliches&display=swap');

body{
    margin: 0;
    padding: 0;
}

:root{
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-border: #ffffff34;
    --font-staat: 'Staatliches', cursive;
    --font-os:  'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}

/* global classes */
.font-staat{
    font: normal 400 18px var(--font-staat);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-size-40{
    font-size: 40px;
}
.font-size-34{
    font-size: 34px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-16{
    font-size: 16px;
}

.bgcolor-primary{
    background-color: var(--color-primary);
}

/* #global classes */
 /* step four, add header CSS */
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1;
    transition: left .5s ease;
}

#header nav{
    height: 100vh;
}
#header .site-title .navbar-brand{
    letter-spacing: 2px;
    color: var(--color-secondary);
}

#header .nav-link{
    margin: .7rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase;
}

#header .nav-link:hover{
    color: var(--color-secondary) !important;
}

#header .toggle-button{
    background: none;
    color: var(--color-primary);
    position: fixed;
    top: 25px;
    right: 20px;
    border: 1px solid var(--color-border);
}

.toggle-left{
    left: 0 !important;
    width: 1000px !important;
}

.link{
  color: white;
}

.mainheaderfontcolor{
  color:rgb(35, 194, 234);
  text-shadow: 1px 1px 1px #07081f;
}

.mainheaderfontcolor1{
  color:white;
  /* text-shadow: 1px 1px 1px black; */
  background-color: rgba(116, 190, 208, 0.525);
  /* background-color: rgba(35, 194, 234, 0.434); */
  
}

.mainheaderfontcolor2{
  color:white;
  background-color: rgba(115, 188, 207, 0.334);
  /* text-shadow: 1px 1px 1px white; */
}
/* site-main */


.site-banner .banner-area{
    background: url(./assets/webdevgif1.gif) repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.skills-banner{
    background: url(./assets/footer_lodyas.png) repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

#skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#experience-cards{
    /* background: url(./assets/footer_lodyas.png) repeat;
    background-size: cover;
    width: 100%; */
    height: auto;
    /* position: relative; */
}

#project-section {
  background: url(./assets/footer_lodyas.png) repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;
}



.site-banner .banner-area .author{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-banner .banner-area .author .author-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background: url(./assets/profilepic.jpg) no-repeat;
    background-size: 120%;
    background-position: 50% 0;
}


@media screen and (min-width: 768px){
    .toggle-button{
        display: none;
    }
    #header{
        z-index:0;
    }
}

@media screen and (max-width: 768px){
  #skills-section {
    background: url(./assets/footer_lodyas.png) repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
  }
}

h2{
    text-align: center;
    color: whitesmoke;
    font-size: 60px;
    
}

p{
    color: whitesmoke;
}

.header-text{
    color: whitesmoke;
    text-align: center;
    padding-bottom: 70px;
    font-size: 20px;
}

.projects{
    display: flex;
    height: auto;
    gap: 100px;
    justify-content: center;
}

.aboutmeproject{
    text-align: center;
    display: grid;
    color: whitesmoke
}

.madlibsproject{
    text-align: center;
    display: grid;
    color: whitesmoke
}

.headingfont{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    text-transform: uppercase;
    padding-top: 20px;
}

.aboutpage{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #07081f;
    /* text-shadow: 1px 1px 1px rgb(35, 194, 234); */
    
    padding-top: 600px;
}

#projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-border {
  box-shadow: 0px 0px 5px 5px #000000;
}

/* #site-main */

/* Education Cards Section Begin */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');

body {
  background: #f2f2f2;
}

.container1  {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  height: 140px;
  width: 700px;
  background: #172649;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

.container2  {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  height: 140px;
  width: 700px;
  background: #862633;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

.container3  {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  height: 140px;
  width: 700px;
  background: #F77F00;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

.content {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: white;
  padding: 40px;
  font-family: 'Merriweather', serif;
}

.educationh1 {
  font-weight: 900;
  font-size: 35px;
  color: white;
}

.educationh11 {
  font-weight: 300;
  font-size: 20px;
}

.educationh2 {
  font-weight: 900;
  font-size: 33px;

  color: white
}

.educationh22 {
  font-weight: 300;
  font-size: 20px;

}

.educationh3 {
  font-weight: 900;
  font-size: 20px;


  color: white
}

.educationh33 {
  font-weight: 300;
  font-size: 18px;
}

.flap1 {
  width: 100%;
  height: 100%;
}

.flap1::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  left: 0;
  background: url(./assets/karow-1-column-1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap1::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background: url(./assets/karow-1-column-2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap2 {
  width: 100%;
  height: 100%;
}

.flap2::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  left: 0;
  background: url(./assets/ucrow-1-column-1.png);
  background-color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap2::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background: url(./assets/ucrow-1-column-2.png);
  background-color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap3 {
  width: 100%;
  height: 100%;
}

.flap3::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  left: 0;
  background: url(./assets/utrow-1-column-1copy.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap3::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background: url(./assets/utrow-1-column-2copy.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
}

.container1:hover .flap1::after {
  transform: translatex(350px);
}

.container1:hover .flap1::before{
  transform: translatex(-350px);
}

.container2:hover .flap2::after {
  transform: translatex(350px);
}

.container2:hover .flap2::before{
  transform: translatex(-350px);
}

.container3:hover .flap3::after {
  transform: translatex(350px);
}

.container3:hover .flap3::before{
  transform: translatex(-350px);
}

/* Education Cards Section End */



/* Experience Cards Begin */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
.body-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: 0;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}
.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: navy;
}
.tag-purple {
  background-color: lightblue;
}
.tag-pink {
  background-color: orange;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

.pexperience {
  color: #000000;
}

/* Experience Cards End */

/* Interests Carousel Begin */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
} */

.slider {
  position: relative;
  height: 542px;
  margin: 50px auto;
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2); */
  overflow: hidden;
}

.slider-controls {
  position: relative;
  top: 370px;
  left: 50%;
  text-align: center;
  transform: translatex(-50%);
  z-index: 1000;

  list-style: none;
  text-align: center;
}

.slider input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-controls label {
  display: inline-block;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #212121;
  transition: background-color 0.2s linear;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"] {
  background-color: #ff4081;
}

#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #ff4081;
}

#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #ff4081;
}

/* SLIDES */

.slides {
  list-style: none;
  padding: 0;
  margin: 0;

}

.slide {
  position: absolute;
  top: 100px;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  
  width: 100%;
  opacity: 0;
  transform: translatex(-100%);
  transition: transform 250ms linear;
}

/* .slide-content {
  width:;
} */

.slide-title {
  margin-bottom: 20px;
  font-size: 36px;
}

.slide-text {
  margin-bottom: 20px;
}

.slide-link {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  background-color: #ff4081;
}
/* 
.slide-image img {
  max-width: 100%;
} */

/* Slide animations */
#btn-1:checked ~ .slides .slide:nth-child(1) {
  transform: translatex(0);
  opacity: 1;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  transform: translatex(0);
  opacity: 1;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  transform: translatex(0);
  opacity: 1;
}

#btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes swap-out {
  0% {
    transform: translatex(0);
    opacity: 1;
  }

  50% {
    transform: translatex(50%);
    opacity: 0;
  }

  100% {
    transform: translatex(100%);
  }
}

/* Interests Carousel Begin */










/* media query for education */
@media only screen and (max-width: 500px) {
  .educationh1 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .educationh11 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .educationh2 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .educationh22 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .educationh3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .educationh33 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1050px){
  .slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    height: auto;
    top: -10px;
  }
  /* .slider {
    height: 100vh;
  } */
  .slider-controls {
    top: 522px;
  }
  .slider{
    height: 542px
  }
}