/* step two, set up up global CSS variables */
@import url('https://fonts.googleapis.com/css?family=Oswald|Rambla|Staatliches&display=swap');

body{
    margin: 0;
    padding: 0;
}

:root{
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-border: #ffffff34;
    --font-staat: 'Staatliches', cursive;
    --font-os:  'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}

/* global classes */
.font-staat{
    font: normal 400 18px var(--font-staat);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-size-40{
    font-size: 40px;
}
.font-size-34{
    font-size: 34px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-16{
    font-size: 16px;
}

.bgcolor-primary{
    background-color: var(--color-primary);
}

/* #global classes */
 /* step four, add header CSS */
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1;
    transition: left .5s ease;
}

#header nav{
    height: 100vh;
}
#header .site-title .navbar-brand{
    letter-spacing: 2px;
    color: var(--color-secondary);
}

#header .nav-link{
    margin: .7rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase;
}

#header .nav-link:hover{
    color: var(--color-secondary) !important;
}

#header .toggle-button{
    background: none;
    color: var(--color-primary);
    position: fixed;
    top: 25px;
    right: 20px;
    border: 1px solid var(--color-border);
}

.toggle-left{
    left: 0 !important;
    width: 1000px !important;
}

/* site-main */


.site-banner .banner-area{
    background: url(https://images.unsplash.com/photo-1468608374703-abdfab03d1bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.skills-banner{
    background: url(./assets/footer_lodyas.png) repeat;
    background-size: auto;
    width: 100%;
    height: 100vh;
    position: relative;
} 

.site-banner .banner-area .author{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-banner .banner-area .author .author-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background: url(./assets/profilepic.jpg) no-repeat;
    background-size: 120%;
    background-position: 50% 0;
}


@media screen and (min-width: 768px){
    .toggle-button{
        display: none;
    }
    #header{
        z-index:0;
    }
}

h2{
    text-align: center;
    color: whitesmoke;
    font-size: 60px;
    
}

p{
    color: whitesmoke;
}

.header-text{
    color: whitesmoke;
    text-align: center;
    padding-bottom: 10px;
}

.projects{
    display: flex;
    height: 300px;
    gap: 100px;
    justify-content: center;
}

.aboutmeproject{
    text-align: center;
    display: grid;
    color: whitesmoke
}

.madlibsproject{
    text-align: center;
    display: grid;
    color: whitesmoke
}

.headingfont{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    text-transform: uppercase;
    padding-top: 20px;
}

.aboutpage{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    padding-top: 600px;

}

/* .align-content-center{
    margin: auto;
    width: 50%;
    padding: 10px;
    align-items: center;
} */

/* #site-main */

/* Education Cards Section Begin */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');

body {
  background: #f2f2f2;
}

.container1  {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 700px;
  background: #172649;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

.container2  {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 700px;
  background: #862633;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

.container3  {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 700px;
  background: #F77F00;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

.content {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: white;
  padding: 40px;
  font-family: 'Merriweather', serif;
}

.educationh1 {
  font-weight: 900;
  font-size: 35px;
  text-align: center;
  padding-left: 90px;
  color: white
}

.educationh11 {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  padding-left: 90px;
}

.educationh2 {
  font-weight: 900;
  font-size: 33px;
  text-align: center;
  padding-left: 45px;
  color: white
}

.educationh22 {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  padding-left: 45px;
}

.educationh3 {
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  padding-left: 15px;
  color: white
}

.educationh33 {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  padding-left: 15px;
}

.flap1 {
  width: 100%;
  height: 100%;
}

.flap1::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  left: 0;
  background: url(./assets/karow-1-column-1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap1::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background: url(./assets/karow-1-column-2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap2 {
  width: 100%;
  height: 100%;
}

.flap2::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  left: 0;
  background: url(./assets/ucrow-1-column-1.png);
  background-color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap2::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background: url(./assets/ucrow-1-column-2.png);
  background-color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap3 {
  width: 100%;
  height: 100%;
}

.flap3::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  left: 0;
  background: url(./assets/utrow-1-column-1copy.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap3::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background: url(./assets/utrow-1-column-2copy.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
}

.container1:hover .flap1::after {
  transform: translatex(350px);
}

.container1:hover .flap1::before{
  transform: translatex(-350px);
}

.container2:hover .flap2::after {
  transform: translatex(350px);
}

.container2:hover .flap2::before{
  transform: translatex(-350px);
}

.container3:hover .flap3::after {
  transform: translatex(350px);
}

.container3:hover .flap3::before{
  transform: translatex(-350px);
}

/* Education Cards Section End */


#projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-border {
  box-shadow: 0px 0px 5px 5px #000000;
}

/* Experience Cards Begin */

/* .body-experience {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;   
  font-family: sans-serif;
  background-color: #f1f1f1; 
}

.container {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #ffffff00;
  border: 0;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1{
  background: #ff0057;
  transform: translateY(0px);
}

.face.face1 {
  background-image: url(./assets/ucpalogo.jpg) !important;
  background-size: 300px 200px !important;
}

.face5.face6 {
  background-image: url(./assets/chlogo.png) !important;
  background-size: 300px 200px !important;
}

.face7.face8 {
  background-image: url(./assets/utlogo.png) !important;
  background-size: 300px 200px !important;
}

.container .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content {
  max-width: 100px;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.container .card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: #414141;
} 

.container {
  text-decoration: none;
  color: #414141;
} */

/* Experience Cards End */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
.body-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: 0;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}
.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: navy;
}
.tag-purple {
  background-color: lightblue;
}
.tag-pink {
  background-color: orange;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

.pexperience {
  color: #000000;
}
